@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container {
    padding: 25px 60px;
}

.logo img {
    width: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}

.links a {
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.donate {
    background-color: #3DB5E2;
    border-radius: 25px;

}

.links .donate {
    color: white;
}

.links a:hover {
    color: #3DB5E2;
}

.donate:hover {
    
    background-color: transparent;
}
.donate:hover a {
    color: white;
}

.hero {
    background-color: #E1F7FF;
    height: 80vh;
    padding-top: 80px;
}

.title {
    color: #3274CC;
    ;
}
.mt-20 {
    margin-top: 2.5rem;
}

.mt-10 {
    margin-top: 10px;
}
.button-hero {
    margin-top: 30px;
}

.btn-1 {
    text-decoration: none;
    color: white;
    padding: 10px 2.4em;
    background-color: #3274CC;
    border-radius: 30px;
    border: solid 2px #3274CC;
}
.btn-2 {
    padding: 10px 2.4em;
    border: solid 2px #3274CC;
    border-radius: 30px;
    color: #3274CC;
    text-decoration: none;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.content-1 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.content-web {
    margin-top: 9em;
}

*::selection {
    background-color: #00ba10;
}
.card1, .card2, .card3 {
    box-shadow: 0px 4px 8px 0px #00000040;
    padding: 16px 18px;
    max-width: 239px;
    height: 324px;
    border-radius: 16px;
  

}
.main {
    margin: 3rem 0px;
    text-align: center;

}
.tri-card {
    margin-top: 3.7em;
    display: flex;
    gap: 3em;
    justify-content: center;
}